# *.py[cod]
# *$py.class
# share/python-wheels/
*.pyc
__pycache__/ 
.vscode/
.idea/
incrementalSave
rigStudio3.code-workspace
.mayaSwatches
license_*
check.py
connections.py
mim
mxgdn_foot
fkPlain
fishWing
fishTail
fishBody
fin