{
    "name": "point2",
    "type": "point",
    "parent": null,
    "symmetrical": false,
    "opposite": false,
    "seamless": false,
    "parents": [],
    "posersAttrsData": {
        "MODNAME_root_poser": {
            "translateX": 0.0,
            "translateY": 0.0,
            "translateZ": 0.0,
            "rotateX": 0.0,
            "rotateY": 0.0,
            "rotateZ": 0.0,
            "scaleX": 1.0,
            "radius": 1.0
        },
        "MODNAME_mainPoser": {
            "translateX": 1.4653854531287287,
            "translateY": 8.651797468041982,
            "translateZ": 3.92207579737655,
            "rotateX": 0.0,
            "rotateY": 0.0,
            "rotateZ": 0.0,
            "scaleX": 1.0,
            "size": 1.0,
            "globalSize": 0.5
        }
    },
    "posersShapeData": {},
    "optionsData": false,
    "controlsAttrData": {
        "r_ctrl_1.translateX": 0.0,
        "r_ctrl_1.translateY": 0.0,
        "r_ctrl_1.translateZ": 0.0,
        "r_ctrl_1.rotateX": 0.0,
        "r_ctrl_1.rotateY": 0.0,
        "r_ctrl_1.rotateZ": 0.0,
        "r_ctrl_1.scaleX": 1.0,
        "r_ctrl_1.scaleY": 1.0,
        "r_ctrl_1.scaleZ": 1.0,
        "root.translateX": 0.0,
        "root.translateY": 0.0,
        "root.translateZ": 0.0,
        "root.rotateX": 0.0,
        "root.rotateY": 0.0,
        "root.rotateZ": 0.0,
        "root.scaleX": 1.0,
        "root.scaleY": 1.0,
        "root.scaleZ": 1.0,
        "l_ctrl_1.translateX": 0.0,
        "l_ctrl_1.translateY": 0.0,
        "l_ctrl_1.translateZ": 0.0,
        "l_ctrl_1.rotateX": 0.0,
        "l_ctrl_1.rotateY": 0.0,
        "l_ctrl_1.rotateZ": 0.0,
        "l_ctrl_1.scaleX": 1.0,
        "l_ctrl_1.scaleY": 1.0,
        "l_ctrl_1.scaleZ": 1.0,
        "ctrl.translateX": 0.0,
        "ctrl.translateY": 0.0,
        "ctrl.translateZ": 0.0,
        "ctrl.rotateX": 0.0,
        "ctrl.rotateY": 0.0,
        "ctrl.rotateZ": 0.0,
        "ctrl.scaleX": 1.0,
        "ctrl.scaleY": 1.0,
        "ctrl.scaleZ": 1.0,
        "l_ctrl_2.translateX": 0.0,
        "l_ctrl_2.translateY": 0.0,
        "l_ctrl_2.translateZ": 0.0,
        "l_ctrl_2.rotateX": 0.0,
        "l_ctrl_2.rotateY": 0.0,
        "l_ctrl_2.rotateZ": 0.0,
        "l_ctrl_2.scaleX": 1.0,
        "l_ctrl_2.scaleY": 1.0,
        "l_ctrl_2.scaleZ": 1.0,
        "ctrl_1.translateX": 0.0,
        "ctrl_1.translateY": 0.0,
        "ctrl_1.translateZ": 0.0,
        "ctrl_1.rotateX": 0.0,
        "ctrl_1.rotateY": 0.0,
        "ctrl_1.rotateZ": 0.0,
        "ctrl_1.scaleX": 1.0,
        "ctrl_1.scaleY": 1.0,
        "ctrl_1.scaleZ": 1.0,
        "r_ctrl_2.translateX": 0.0,
        "r_ctrl_2.translateY": 0.0,
        "r_ctrl_2.translateZ": 0.0,
        "r_ctrl_2.rotateX": 0.0,
        "r_ctrl_2.rotateY": 0.0,
        "r_ctrl_2.rotateZ": 0.0,
        "r_ctrl_2.scaleX": 1.0,
        "r_ctrl_2.scaleY": 1.0,
        "r_ctrl_2.scaleZ": 1.0
    },
    "controlsNamesData": {
        "r_ctrl_1": "r_ctrl_1",
        "root": "MODNAME_root",
        "l_ctrl_1": "l_ctrl_1",
        "ctrl": "ctrl",
        "l_ctrl_2": "l_ctrl_2",
        "ctrl_1": "ctrl_1",
        "r_ctrl_2": "r_ctrl_2"
    },
    "controlsVisData": {
        "r_ctrl_1": true,
        "root": true,
        "l_ctrl_1": true,
        "ctrl": true,
        "l_ctrl_2": true,
        "ctrl_1": true,
        "r_ctrl_2": true
    },
    "controlsColorData": {
        "r_ctrl_1": 18,
        "root": 15,
        "l_ctrl_1": 18,
        "ctrl": 18,
        "l_ctrl_2": 18,
        "ctrl_1": 18,
        "r_ctrl_2": 18
    },
    "controlsShapeData": {
        "r_ctrl_1": [
            "cmds.curve(name = \"r_ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ],
        "root": [
            "cmds.curve(name = \"point2_root\", per = True, d= 3,p= [[3.921799952071384, 1.859225682820734e-16, -3.921799952071384], [5.5462626811335385, 2.2395880029841052e-17, 4.912054601354864e-15], [3.921799952071384, -2.430504443753642e-15, 3.921799952071416], [2.320164919469746e-15, -2.1034510672491676e-15, 5.546262681133553], [-3.921799952071394, 1.859225682820734e-16, 3.9217999520714173], [-5.5462626811335385, -3.0465749647462263e-16, 8.413524945349263e-15], [-3.921799952071384, 2.6388228920655514e-15, -3.92179995207136], [-4.728947165994198e-15, 1.8211894508043995e-15, -5.546262681133522], [3.921799952071384, 1.859225682820734e-16, -3.921799952071384], [5.5462626811335385, 2.2395880029841052e-17, 4.912054601354864e-15], [3.921799952071384, -2.430504443753642e-15, 3.921799952071416]], k = [-2.0, -1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])"
        ],
        "l_ctrl_1": [
            "cmds.curve(name = \"l_ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ],
        "ctrl": [
            "cmds.curve(name = \"ctrl\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ],
        "l_ctrl_2": [
            "cmds.curve(name = \"l_ctrl_2\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ],
        "ctrl_1": [
            "cmds.curve(name = \"ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ],
        "r_ctrl_2": [
            "cmds.curve(name = \"r_ctrl_2\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
        ]
    },
    "additionalControlsData": [
        {
            "name": "ctrl",
            "poser": "ctrl_addPoser",
            "parent": "MODNAME_root",
            "poserParent": "MODNAME_mainPoser",
            "opposite": false,
            "deep": 0,
            "pos": [
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                3.5443164882795486,
                12.918766582912383,
                3.9220757973765474,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"ctrl\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": 2.07893103515082,
                "translateY": 4.266969114870401,
                "translateZ": -2.6645352591003757e-15,
                "rotateX": 0.0,
                "rotateY": 0.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        },
        {
            "name": "ctrl_1",
            "poser": "ctrl_1_addPoser",
            "parent": "MODNAME_root",
            "poserParent": "MODNAME_mainPoser",
            "opposite": false,
            "deep": 0,
            "pos": [
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                13.48322670542204,
                12.918766582912383,
                3.9220757973765474,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": 12.01784125229331,
                "translateY": 4.266969114870401,
                "translateZ": -2.6645352591003757e-15,
                "rotateX": 0.0,
                "rotateY": 0.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        },
        {
            "name": "l_ctrl_1",
            "poser": "l_ctrl_1_addPoser",
            "parent": "ctrl",
            "poserParent": "ctrl_addPoser",
            "opposite": false,
            "deep": 0,
            "pos": [
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                5.930848796257237,
                15.682695484980162,
                3.922075797376548,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"l_ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": 2.3865323079776886,
                "translateY": 2.7639289020677786,
                "translateZ": 4.440892098500626e-16,
                "rotateX": 0.0,
                "rotateY": 0.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        },
        {
            "name": "l_ctrl_2",
            "poser": "l_ctrl_2_addPoser",
            "parent": "ctrl_1",
            "poserParent": "ctrl_1_addPoser",
            "opposite": false,
            "deep": 0,
            "pos": [
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                0.0,
                0.0,
                1.0,
                0.0,
                15.869759013399728,
                15.682695484980162,
                3.922075797376548,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"l_ctrl_2\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": 2.3865323079776886,
                "translateY": 2.7639289020677786,
                "translateZ": 4.440892098500626e-16,
                "rotateX": 0.0,
                "rotateY": 0.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        },
        {
            "name": "r_ctrl_1",
            "poser": "r_ctrl_1_addPoser",
            "parent": "ctrl",
            "poserParent": "ctrl_addPoser",
            "opposite": true,
            "deep": 0,
            "pos": [
                -1.0,
                0.0,
                -1.2246467991473532e-16,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                1.2246467991473532e-16,
                0.0,
                -1.0,
                0.0,
                1.15778418030186,
                15.682695484980162,
                3.922075797376548,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"r_ctrl_1\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": -2.3865323079776886,
                "translateY": 2.7639289020677786,
                "translateZ": 4.440892098500626e-16,
                "rotateX": 0.0,
                "rotateY": 180.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        },
        {
            "name": "r_ctrl_2",
            "poser": "r_ctrl_2_addPoser",
            "parent": "ctrl_1",
            "poserParent": "ctrl_1_addPoser",
            "opposite": true,
            "deep": 0,
            "pos": [
                -1.0,
                0.0,
                -1.2246467991473532e-16,
                0.0,
                0.0,
                1.0,
                0.0,
                0.0,
                1.2246467991473532e-16,
                0.0,
                -1.0,
                0.0,
                11.09669439744435,
                15.682695484980162,
                3.922075797376548,
                1.0
            ],
            "colorId": 18,
            "shape": [
                "cmds.curve(name = \"r_ctrl_2\", d= 1,p= [[-1.0, 1.0, 1.0], [-1.0, 1.0, -1.0], [1.0, 1.0, -1.0], [1.0, 1.0, 1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [-1.0, -1.0, -1.0], [-1.0, 1.0, -1.0], [-1.0, 1.0, 1.0], [-1.0, -1.0, 1.0], [1.0, -1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, -1.0], [1.0, -1.0, -1.0], [1.0, -1.0, 1.0], [1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]])"
            ],
            "poserAttrsData": {
                "translateX": -2.3865323079776886,
                "translateY": 2.7639289020677786,
                "translateZ": 4.440892098500626e-16,
                "rotateX": 0.0,
                "rotateY": 180.0,
                "rotateZ": 0.0,
                "scaleX": 1.0,
                "radius": 1.0
            }
        }
    ]
}